.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  margin: 30px;
  padding-top: 30px;
}
.text-info {
  display: none;

}
.text-info-visibility {
  display: block;
}
.button {
  background-color: cornflowerblue;
  min-width: 200px;
  padding: 15px;
  margin: 30px;
}
.active-button {
  background-color: darkblue;

}
.text-button {
  font-size: 20px;
  color: white;
}
.div-value {
  margin-top: 20px;
}

